#columns {
  width: 700px;
  margin: 0 auto;
}
.hidden {
  opacity: 0.3;
}

button {
  border: none;
  outline: none;
  background: #fff;
}
span {
  width: 10px;
  height: 10px;
}

.game-button {
  width: 10px;
  height: 10px;
}
